!!! 5
%html
    %head
        %meta{"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
        %link{:rel=> "stylesheet", :href=> "http://yui.yahooapis.com/pure/0.1.0/pure-min.css"}
        %link{:rel=> "stylesheet", :href=> "http://purecss.io/combo/1.0.2?/css/main.css&/css/rainbow/baby-blue.css" }
        %script{:type=>"text/javascript", :src=>"http://code.jquery.com/jquery-1.10.0.min.js"}
        %script{:type=>"text/javascript", :src=>"http://cdn.craig.is/js/rainbow/rainbow.min.js"}
        %script{:type=>"text/javascript", :src=>"http://cdn.craig.is/js/rainbow/language/css.js"}
        %script{:type=>"text/javascript", :src=>"http://cdn.craig.is/js/rainbow/language/generic.js"}
        %script{:type=>"text/javascript", :src=>"http://cdn.craig.is/js/rainbow/language/javascript.js"}
        -# %script{:type=>"text/javascript", :src=>"http://underscorejs.org/underscore-min.js"}
        %script{:type=>"text/javascript", :src=>"question.js"}
        %script{:type=>"text/javascript", :src=>"main.js"}
        :css
            table { margin:0 auto; text-align: center; margin-bottom: 40px;}
            .header { width:100%; }
            .hide {
            display:none;
            }
            .start, .answering, .result {
            text-align: center;
            width: 100%; 
            }
            .pure-button-success {
            background: rgb(76, 201, 71); /* this is a green */
            }
            .pure-button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
            }
            .pure-button {
            border-radius: 6px;
            color:white;
            font-weight:bolder;
            }
            .answer {
            text-align: center;
            margin:0 auto;
            }
            .blue {
            color: rgb(95, 198, 218);
            }
            .red {
            color:red;
            }
            .green {
            color:green;
            }
            .congratuation {
            font: bolder 20px;
            }

    %body
        .pure-g-r
            .pure-u.header
                %h1.pure-u-1 Do you know Javascript Object Model?
                %h2.pure-u
            .pure-u.start.hide
                %h3.pure-u-1 接下来是一系列等式，只需要根据判断选择true或者false既可
                %p.pure-u-1 靠直觉！ 如果邪恶的打开了console....
                .pure-u-1{:style=>"text-align:center"}
                    %a.pure-button#start-btn{:style=>"color:#000"} 点我点我开始
            .pure-u.answering.hide
                %pre.pure-u-1
                    %code#q-pre{"data-language"=>"javascript"}  var a = {};
                %h2.pure-u-1 请回答以下等式的值
                %h3.question.pure-u-1#q-qe Function.prototype === Object.prototype
                %h2.pure-u-1 请答题:
                .pure-u-1.answer
                    %a.pure-button.pure-button-success#true-btn TRUE
                    %a.pure-button.pure-button-error#false-btn FALSE
            .pure-u.result.hide
                %h2.pure-u-1 最后结果是:
                .pure-u-1#result-txt
                    ( 14 / 20 ) 答对 14 题
                %h3.pure-u-1.cong.red.hide 恭喜恭喜， 全部正确
                %h3.pure-u-1{:height=>"20px", }
                .pure-u-1
                    %table.pure-table#rs-table
                        %tr
                            %th 题目
                            %th 你的答案
                            %th 正确答案
                            %th 备注
                        %tr
                            %th.blue Fucntion.prototype === Object.prototype
                            %th.red false
                            %th.green true
                            %th

                            
                    
